LLMAPP/venv
LLMAPP/.env
notebooks/genvenv
notebooks/.env
Youtube/.env
Llamaindex and RAG/.env
LangSmith_LLMOPS/.env
Google-Gemini-Crash-Course/ATS System/.env
Google-Gemini-Crash-Course/atsllm/.env
Google-Gemini-Crash-Course/ChatWithPDF Gemini/.env
Google-Gemini-Crash-Course/Gemini-Project-main/.env
Google-Gemini-Crash-Course/healthapp/.env
Google-Gemini-Crash-Course/Invoice-Extractor/.env
Google-Gemini-Crash-Course/sqlllm/.env
Google-Gemini-Crash-Course/YTtanscriber/.env
